# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
env/
venv/
ENV/

# Database files
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Build & Packaging
dist/
build/
*.egg-info/
*.egg

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.log
